.general {
  font-family:Verdana, Arial, Helvetica;
  font-size:10pt;
  color:#697882;
  text-align:justify;
}
.cell {
  font-family:Verdana, Arial, Helvetica;
  font-size:10pt;
  color:#697882;
}
.field {
  font-family:Verdana, Arial, Helvetica;
  font-size:10pt;
  color:#697882;
}
.sidebar {
  font-family:verdana, Verdana, Arial, Helvetica;
  font-size:10pt;
  color:#697882;
}
.generalsm {
  font-family:Verdana, Arial, Helvetica;
  font-size:8pt;
  color:#697882;
  text-align:justify;
}
.cellsm {
  font-family:Verdana, Arial, Helvetica;
  font-size:8pt;
  color:#697882;
}
.fieldsm {
  font-family:Verdana, Arial, Helvetica;
  font-size:8pt;
  color:#697882;
}
.sidebarsm {
  font-family:verdana, Verdana, Arial, Helvetica;
  font-size:8pt;
  color:#697882;
}
.signup {
  font-family:Verdana, Arial, Helvetica;
  font-size:8pt;
  color:#697882;
  background-color:#b0b2c2;
  border-width:1;
  border-style:solid;
  border-color:#ffffff;
}
h1 {
  font-family:Verdana, Arial, Helvetica;
  font-size:12pt;
  color:#0000cc;
}
h2 {
  font-family:Verdana, Arial, Helvetica;
  font-size:12pt;
  font-weight:bold;
  color:#a49c5d;
}
h3 {
  font-family:Verdana, Arial, Helvetica;
  font-weight:bold;
  font-size:small;
  color:#003366;
}
h4 {
  font-family:Verdana, Arial, Helvetica;
  font-weight:bold;
  font-size:x-small;
  color:#ff0000;
}
.menunav {
  font-family:Verdana, Arial, Helvetica;
  font-size:x-small;
  font-weight:bold;
  color:#002222;
}
.menunav a {
  color:#002222;
}
.menunav a.active {
  color:#002222;
}
.menunav a.visited {
  color:#002222;
}
.fg1 {
  font-family:Verdana, Arial, Helvetica;
  font-size:10pt;
  color:#003366;
}
.fg2 {
  font-family:Verdana, Arial, Helvetica;
  font-size:10pt;
  color:#a49c5d;
}
.fg3 {
  font-family:Verdana, Arial, Helvetica;
  font-size:8pt;
  color:#818F9A;
}
.fg4 {
  font-family:Verdana, Arial, Helvetica;
  font-size:8pt;
  color:#373C68;
}
.fg5 {
  font-family:Verdana, Arial, Helvetica;
  font-size:8pt;
  color:#697882;
}
a {
  text-decoration:none;
  color:#ffffff;
}
a.active {
  color#687680;
}
a.visited {
  color:#687680;
}
.nav {
  font-family:Verdana, Arial, Helvetica;
  font-size:xx-small;
  color:#aaaaaa;
}
.nav a {
  text-decoration:none;
  color:#999999;
}
.nav a.active {
  color:#999999;
}
.nav a.visited {
  color:#999999;
}
iframe {
scrollbar-base-color:#282417;
scrollbar-3dlight-color:#cccccc;
scrollbar-highlight-color:transparent;
scrollbar-track-color:#003366;
scrollbar-arrow-color:#003366;
scrollbar-shadow-color:#333333;
scrollbar-dark-shadow-color:#000000;
}
